.header {
  background-color: var(--primary-blue);
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo svg {
  height: 24px;
  width: auto;
}

.header-logo svg path {
  fill: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header-actions .button.secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 13px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
}

.header-actions .button.secondary:hover {
  background-color: white;
  color: var(--primary-blue);
}

.locale-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.locale-selector svg {
  border-radius: 9999999px;
  overflow: hidden;
}


